<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', path='images/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', path='images/favicon.ico') }}" type="image/x-icon">
    <title>MJ TRADING - HOME</title>
</head>
<div class="container">
    <body>
        <video playsinline autoplay muted loop poster="../static/images/coins.png" id="bgvid">
            <source src="../static/images/coins.webm" type="video/webm">
            <source src="../static/images/coins.mp4" type="video/mp4">
          </video>
          <header>
            <h1 class="logo"><i class="fas fa-bullseye"></i> MJ TRADING </h1>
            <nav>
              <ul class="nav__links">
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
              </ul>
            </nav>
          </header>
          <main>
            <div class="main">
                <form method="post" class="my_form">
                    <input type="email" name="email" placeholder="PLEASE ENTER YOUR EMAIL" required/>
                    <br>
                    <input type="text" name="password" placeholder="PLEASE CHOOSE YOUR PASSWORD" required/>
                    <br>
                    <button type="submit" class="button">SEND</button>
                    <br>
                </form>
            </div>
            {% if msg %}
            <div class="result">
                <h2>{{ msg }}</h2>
            </div>
            {% endif %}
            {% if pass_hash %}
            <div class="result">
                <h2>THANK YOU {{ email }} FOR REGISTERING! CLICK <a href="/signals">HERE</a> TO VIEW TRADING SIGNALS. </h2>
            </div>
            {% endif %}
          </main>
          <footer>
            <div class="social">
              <a href="http://mjaroszewski.pythonanywhere.com/strategies" target="_blank"><i class="fas fa-chart-line"></i></a>
              <a href="https://www.trendfollowing.com/" target="_blank"><i class="fas fa-info-circle"></i></a>
              <a href="https://alvarezquanttrading.com/" target="_blank"><i class="far fa-lightbulb"></i></a>
              <a href="https://quantpedia.com/" target="_blank"><i class="fas fa-map"></i></a>
            </div>
          </footer>
    </body>
</div>
</html>